.main-container {
    margin-top: 70px;
    min-height: 90.5vh;
}

.delete {
    text-align: right
}

.button-delete {
    margin: 10px;
}

.info-home {
    padding-top: 50px;
    padding-bottom: 20px;
}

.link-index-read-more {
    color: lightgray;
}

.img-div {
    float: right;
    background-image: url(/assets//imgMe.jpeg);
    height: 150px;
    width: 150px;
    background-position: center;
    border-radius: 200px;
}

.tox-notifications-container {
    display: none;
}