<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Better than Medium</title>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-auth.js"></script>
</head>

<body>
    <% include ../partials/nav.ejs %>
        <div class="container main-container">
            <div class="delete"></div>
            <div class="row">
                <p>Editing Profile....</p>
                <!-- Blog Entries Column -->
                <div class="col-md-12">
                    <div class="img-div img-edit-profile"></div>
                    <form action="profile" method="post">
                        <div class="form-group">
                            <label for="firstName">First Name: </label>
                            <input class="form-control" required id="firstName" type="text" name="firstName" value="<%= data.firstName %>">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>: </label>
                            <input class="form-control" required id="lastName" type="text" name="lastName" value="<%= data.lastName %>">
                        </div>
                        <div class="form-group">
                            <label for="bio">Small Bio</label>
                            <input class="form-control" required id="bio" type="text" name="bio" value="<%= data.bio %>">
                        </div>
                        <div class="form-group">
                            <label for="img">Upload Image</label>
                            <input type="file" disabled name="profileImg" class="form-control-file" id="img">
                        </div>
                        <a href="/" class="btn btn-danger">Cancel</a>
                        <input type="submit" class="btn btn-success" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- Optional JavaScript -->


        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="./javascript/main.js"></script>
        <script>
            firebase.auth().onAuthStateChanged(function(user) {
                if (user) {
                    // User is signed in.
                } else {
                    document.querySelector('body').style.display = "none"
                    window.location.replace("/");
                    // No user is signed in.
                }
            });
        </script>
</body>

</html>